.button{
  //height: 60px;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid var(--dark-color);
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
  }
}