.about {
  margin-top: 100px;
  &__wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 700px 1fr;
    grid-template-rows: 481px;
    column-gap: 20px;
  }

  &__img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .title_fz20 {
    text-align: unset;
    text-transform: unset;

  }


}