.footer {
  padding-top: 80px;
  padding-bottom: 52px;
  background-color: var(--dark-color);
  color: var(--light-color);
.title_fz16 {
  color: var(--light-color);
  text-align: start;
}
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(70px, auto));
    justify-content: space-between;
  }

  &__items {
    margin-top: 40px;
  }

  &__form {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 28px 40px;
    row-gap: 20px;

    input {
      border: none;
      border-bottom: 1px solid var(--light-color);
    }
  }

  .email {
    width: 293px;
  }

  &__policy {
    display: flex;
    align-items: center;

    span {
      margin-left: 15px;
      font-size: 14px;

      a {
        text-decoration: none;
        color: #A22DC6;
      }
    }
  }

  .button {
    grid-row: 3;
    width: 90px;
    height: 40px;
    border: 1px solid var(--light-color);
    color: var(--light-color);
    padding: 10px 18px;
    font-size: 16px;

    &:hover {
      background-color: var(--light-color);
      color: var(--dark-color);
    }
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(3, minmax(70px, auto));
    column-gap: 66px;
  }


  &__category {
    display: grid;
    grid-template-columns: minmax(70px, 100px);
  }

  &__item {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 19px);
    grid-auto-rows: 19px;;
    row-gap: 20px;
  }
  a {
    text-decoration: none;
    color: var(--light-color);
  }

  &__social {
    margin-top: 40px;
    display: flex;
    column-gap: 10px;

  }

  &__copyright {
    text-align: center;
    margin-top: 18px;
    color: var(--light-color);
    font-size: 14px;
    font-weight: 400;

  }
}