@media (max-width: 1919px) {
  .container {
    max-width: 1140px;
  }

  .promo {

    &__photo_main {
      width: 450px;
      height: 633px;
    }

    &__content {
      margin-top: 50px;
      grid-template-columns: 329px minmax(200px, auto);
      grid-template-rows: 321px 50px;
      row-gap: 18px;
      column-gap: 10px;

      &-text {
        font-size: 24px;
      }
    }

  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .promo {

    &__photo_main {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }

  .promo {
    &__photo_main {
      display: none;
    }

    &__content {
      column-gap: 90px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }

  .promo {

    &__content {
      grid-template-columns: 400px;
      grid-template-rows: repeat(2, minmax(50px, auto)) 50px;
      justify-content: center;

      .button {
        height: 50px;
        grid-column: unset;
        grid-row: 3;
      }

      &-text {
        text-align: center;
      }
    }

    &__photo_mini {
      text-align: center;
      grid-row: 2;
    }

  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }

  .promo {

    &__menu {
      display: none;
    }

    &__wrapper {
      padding: 40px 10px 0 10px;
      row-gap: unset;
    }
    &__burger {

      visibility: unset;
    }
    &__content {
      grid-template-columns: 329px;
      row-gap: 18px;
    }

    .button {
      justify-self: center;
      width: 230px;
    }
  }
}