@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet');
* {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
}

:root {
  --dark-color: #232323;
  --light-color: #FAFAFA;
  --grey-color: #D9D9D9;
  --brown-color: #C69978;
  --grey-light-color: #D2D2D2;
  --red-color: #F14668;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.promo {
  padding-top: 40px;
  position: relative;
}
.promo__photo_main {
  position: absolute;
  left: 0;
  top: 0;
}
.promo__photo_main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promo__wrapper {
  display: grid;
  grid-template-columns: 20px minmax(200px, 300px) 55px;
  grid-template-rows: repeat(2, auto);
  row-gap: 36px;
  justify-content: space-between;
}
.promo__icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}
.promo__burger {
  visibility: hidden;
  grid-column: 1;
  cursor: pointer;
}
.promo__burger span {
  display: block;
  width: 20px;
  height: 1px;
  margin-bottom: 10px;
  background-color: var(--dark-color);
}
.promo__logo {
  display: grid;
  grid-template-columns: 150px;
  justify-self: center;
  grid-column: 2;
  grid-row: 1;
}
.promo__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promo__icons {
  justify-self: end;
  grid-column: 3;
  grid-row: 1;
}
.promo__menu {
  display: flex;
  justify-content: center;
  column-gap: 60px;
  text-transform: uppercase;
  grid-column: 2;
}
.promo__menu a {
  text-decoration: none;
  color: var(--dark-color);
}
.promo__content {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 440px 330px;
  grid-template-rows: 460px minmax(50px, auto);
  row-gap: 50px;
  column-gap: 30px;
  justify-content: end;
  align-items: end;
}
.promo__content-text {
  font-size: 32px;
  text-transform: uppercase;
  font-style: italic;
}
.promo__photo_mini {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promo .button {
  width: 100%;
  grid-column: 2;
  grid-row: 2;
}

@media (max-width: 1919px) {
  .container {
    max-width: 1140px;
  }
  .promo {
    padding-top: 50px;
  }
  .promo__photo_main {
    width: 450px;
    height: 633px;
  }
  .promo__content {
    margin-top: 50px;
    grid-template-columns: 329px minmax(200px, auto);
    grid-template-rows: 321px 50px;
    row-gap: 18px;
    column-gap: 10px;
  }
  .promo__content-text {
    font-size: 24px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .promo {
    padding-top: 50px;
  }
  .promo__photo_main {
    display: none;
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .promo__photo_main {
    display: none;
  }
  .promo__content {
    column-gap: 90px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .promo__content {
    grid-template-columns: 400px;
    grid-template-rows: repeat(2, minmax(50px, auto)) 50px;
    justify-content: center;
  }
  .promo__content .button {
    height: 50px;
    grid-column: unset;
    grid-row: 3;
  }
  .promo__content-text {
    text-align: center;
  }
  .promo__photo_mini {
    text-align: center;
    grid-row: 2;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .promo__menu {
    display: none;
  }
  .promo__wrapper {
    padding: 0 10px;
    row-gap: unset;
  }
  .promo__burger {
    visibility: unset;
  }
  .promo__content {
    grid-template-columns: 329px;
    row-gap: 18px;
  }
  .promo .button {
    justify-self: center;
    width: 230px;
  }
}
.title {
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}
.title_fz40 {
  font-size: 40px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .title_fz40 {
    font-size: 36px;
  }
}
.title_subtitle {
  font-size: 24px;
  font-weight: 500;
}
.title__footer {
  font-size: 16px;
  font-weight: 500;
  color: var(--light-color);
  text-align: start;
}

.button {
  height: 60px;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid var(--dark-color);
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.info {
  padding-top: 100px;
}
.info__wrapper {
  margin-top: 80px;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 556px 844px;
  column-gap: 20px;
}
.info__content {
  display: grid;
  grid-template-columns: minmax(300px, auto);
  grid-template-rows: 30px minmax(500px, auto);
  row-gap: 60px;
}
.info__content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info__item {
  display: grid;
  grid-template-rows: repeat(2, minmax(200px, auto));
  row-gap: 30px;
}
.info__item p {
  font-size: 20px;
  font-weight: 400;
  grid-row: 2;
}
.info__item p span {
  color: var(--brown-color);
  font-weight: 500;
}
.info__text {
  width: 556px;
}

@media (max-width: 1919px) {
  .container {
    max-width: 1140px;
  }
  .info {
    padding-top: 60px;
  }
  .info__wrapper {
    grid-template-columns: 436px 664px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .info {
    padding-top: 60px;
  }
  .info__wrapper {
    grid-template-columns: 350px 568px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .info {
    padding-top: 60px;
  }
  .info__wrapper {
    margin-top: 40px;
    grid-template-columns: 530px;
    justify-content: center;
    row-gap: 40px;
  }
  .info__content {
    grid-template-columns: 530px;
    grid-template-rows: minmax(30px, auto);
    row-gap: 40px;
  }
  .info__item {
    grid-template-columns: 530px;
    grid-template-rows: 304px minmax(100px, auto);
  }
  .info__item_right {
    grid-template-rows: 200px minmax(100px, auto);
  }
  .info__text {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .info {
    padding-top: 60px;
  }
  .info__wrapper {
    padding: 0;
    justify-content: center;
  }
  .info__item {
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .info__content {
    margin: 0 auto;
    width: 340px;
    grid-template-columns: 340px;
    justify-content: center;
  }
  .info__item {
    grid-template-columns: 340px;
    grid-template-rows: 194px minmax(100px, auto);
  }
  .info__item_right {
    grid-template-rows: 128px minmax(100px, auto);
  }
}
.contact {
  padding-top: 100px;
}
.contact__wrapper {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 573px 645px;
  justify-content: space-between;
}
.contact__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact__form {
  position: relative;
  margin-top: 28px;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 48px 132px 88px;
  justify-content: space-between;
  align-content: space-between;
  row-gap: 36px;
}
.contact__form label {
  display: block;
  position: absolute;
  top: -25px;
  font-size: 14px;
}
.contact__form ::placeholder {
  color: var(--grey-color);
  font-size: 14px;
}
.contact__input {
  position: relative;
}
.contact__input input {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  border: 1px solid #E2E1E5;
  border-radius: 2px;
}
.contact__textarea {
  position: relative;
  grid-row: 2;
  grid-column: 1;
}
.contact__textarea textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px 15px;
  border: 1px solid var(--grey-light-color);
  border-radius: 2px;
}
.contact__triggers {
  grid-column: 1;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 20px;
}
.contact__icon {
  grid-column: 2;
  grid-row: 3;
  justify-self: end;
}
.contact__button {
  width: 220px;
  height: 40px;
  padding: 11px 50px;
  font-size: 16px;
}
.contact__button:hover {
  border-color: var(--brown-color);
  color: var(--brown-color);
  background-color: transparent;
}
.contact__policy {
  display: flex;
  align-items: center;
}
.contact__policy input {
  width: 15px;
  height: 15px;
}
.contact__policy span {
  margin-left: 15px;
  font-size: 14px;
}
.contact__policy span a {
  color: #A22DC6;
  text-decoration: none;
}

@media (max-width: 1919px) {
  .container {
    max-width: 1140px;
  }
  .contact__photo {
    height: 342px;
  }
  .contact__wrapper {
    grid-template-columns: repeat(2, 550px);
  }
  .contact__form {
    grid-template-columns: 300px 85px;
    grid-template-rows: 48px 48px 132px 88px;
  }
  .contact__input-email {
    grid-column: 1;
    grid-row: 2;
  }
  .contact__textarea {
    grid-row: 3;
  }
  .contact__triggers, .contact__icon {
    grid-row: 4;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .contact {
    padding-top: 60px;
  }
  .contact__wrapper {
    grid-template-columns: repeat(2, 460px);
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .contact__photo {
    display: none;
  }
  .contact__wrapper {
    margin-top: 45px;
    grid-template-columns: 1fr;
  }
  .contact__form {
    margin-top: 0;
    grid-template-columns: 300px 85px;
    grid-template-rows: 48px 48px 132px 88px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .contact__icon {
    display: none;
  }
  .contact__form {
    grid-template-columns: 340px;
    grid-template-rows: 48px 48px 132px 88px;
    justify-content: center;
  }
}
.portfolio {
  padding-top: 100px;
  padding-bottom: 130px;
}
.portfolio__carousel {
  position: relative;
  width: 1270px;
  margin: 80px auto 0 auto;
}
.portfolio .slick-prev, .portfolio .slick-next {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -44px;
  border: none;
  background-color: var(--light-color);
  cursor: pointer;
}
.portfolio .slick-next {
  right: -22px;
  left: auto;
}

.slick-slider-dots {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.slick-slider-dots ul {
  display: flex;
  list-style: none;
  margin-top: 25px;
  padding: 0;
}
.slick-slider-dots ul li {
  margin: 0 12px;
}
.slick-slider-dots ul li button {
  background: var(--dark-color);
  color: var(--dark-color);
  width: 10px;
  height: 10px;
  overflow: hidden;
  border: none;
}
.slick-slider-dots ul li.slick-active button {
  background: var(--brown-color);
  color: var(--brown-color);
}

@media (max-width: 1919px) {
  .container {
    max-width: 1140px;
  }
  .portfolio {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  .portfolio__carousel {
    width: 836px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .portfolio__carousel {
    width: 626px;
  }
  .slick-prev, .slick-next {
    left: -40px;
  }
  .slick-next {
    right: -40px;
    left: auto;
  }
  .slick-slide img {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .portfolio__carousel {
    margin-top: 45px;
    width: 360px;
    text-align: center;
  }
  .slick-slide img {
    width: 400px;
  }
  .slick-prev, .slick-next {
    display: none;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .portfolio__carousel {
    width: 340px;
  }
  .slick-slide img {
    width: 340px;
    height: 223px;
  }
}
.footer {
  padding-top: 80px;
  padding-bottom: 52px;
  background-color: var(--dark-color);
  color: var(--light-color);
}
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(70px, auto));
  justify-content: space-between;
}
.footer__items {
  margin-top: 40px;
}
.footer__form {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 28px 40px;
  row-gap: 20px;
}
.footer__form input {
  border: none;
  border-bottom: 1px solid var(--light-color);
}
.footer .email {
  width: 293px;
}
.footer__policy {
  display: flex;
  align-items: center;
}
.footer__policy span {
  margin-left: 15px;
  font-size: 14px;
}
.footer__policy span a {
  text-decoration: none;
  color: #A22DC6;
}
.footer .button {
  grid-row: 3;
  width: 90px;
  height: 40px;
  border: 1px solid var(--light-color);
  color: var(--light-color);
  padding: 10px 18px;
  font-size: 16px;
}
.footer .button:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}
.footer__links {
  display: grid;
  grid-template-columns: repeat(3, minmax(70px, auto));
  column-gap: 66px;
}
.footer__category {
  display: grid;
  grid-template-columns: minmax(70px, 100px);
}
.footer__item {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 19px);
  grid-auto-rows: 19px;
  row-gap: 20px;
}
.footer a {
  text-decoration: none;
  color: var(--light-color);
}
.footer__social {
  margin-top: 40px;
  display: flex;
  column-gap: 10px;
}
.footer__copyright {
  text-align: center;
  margin-top: 18px;
  color: var(--light-color);
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 1919px) {
  .container {
    max-width: 1140px;
  }
  .footer {
    padding-top: 50px;
  }
  .footer__copyright {
    margin-top: 50px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .footer__wrapper {
    grid-template-columns: 428px 1fr;
    grid-template-rows: minmax(250px, auto) minmax(110px, auto);
    row-gap: 40px;
  }
  .footer__column-categories {
    grid-row: 2;
    grid-column: 1;
  }
  .footer__column-social {
    grid-row: 2;
    grid-column: 2;
    justify-self: end;
  }
  .footer__copyright {
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .footer__wrapper {
    grid-template-columns: minmax(428px, auto);
    grid-template-rows: repeat(2, minmax(110px, auto));
  }
  .footer__column-social {
    grid-row: 3;
    grid-column: unset;
    justify-self: unset;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .footer__wrapper {
    grid-template-columns: 330px;
    grid-template-rows: repeat(3, minmax(110px, auto));
    justify-content: space-around;
  }
  .footer__links {
    grid-template-columns: repeat(2, 70px);
    grid-template-rows: repeat(2, minmax(70px, auto));
    row-gap: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
