@media (max-width: 1919px) {
  .container {
    max-width: 1140px;
  }

  .catalog {
    padding: 60px 0;

    &__items {
      grid-template-columns: repeat(3, 340px);
      grid-template-rows: repeat(2, 275px);
      grid-auto-rows: 275px;
      gap: 35px;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .catalog {
    padding: 60px 0;
    //&__tabs {
    //  margin: 60px auto 0 auto;
    //}
    &__items {
      margin: 60px auto 0 auto;
      grid-template-columns: repeat(2, 340px);
      //justify-content: center;
      gap: 35px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .catalog {
    &__tabs {
      margin-left: 0;
    }

    &__items {
      padding: 10px 10px 0 10px;
      gap: 20px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .catalog {
    &__tabs {
      margin: 60px auto 0 auto;
    }

    &__items {
      margin: 60px auto 0 auto;
      grid-template-columns: 340px;
      justify-content: center;

      &:before {
        visibility: hidden;
      }

      &:after {
        visibility: hidden;
      }
    }

  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .catalog {
    &__tabs {
      width: 340px;
      row-gap: 13px;
    }

    &__items {
      padding: 0;
    }
  }

}